In [9]:
import pandas as pd
import seaborn as sns
import streamlit as st
import numpy as np
import matplotlib.pyplot as plt
# import geopandas
# import geoplot
%matplotlib inline

ModuleNotFoundError: No module named 'geoplot'

In [2]:
df = pd.read_csv("WHO-COVID-19-global-data.csv")

In [3]:
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100656 entries, 0 to 100655
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      100656 non-null  object
 1   Country_code       100224 non-null  object
 2   Country            100656 non-null  object
 3   WHO_region         100656 non-null  object
 4   New_cases          100656 non-null  int64
 5   Cumulative_cases   100656 non-null  int64
 6   New_deaths         100656 non-null  int64
 7   Cumulative_deaths  100656 non-null  int64
dtypes: int64(4), object(4)
memory usage: 6.1+ MB

In [11]:
df.describe()

           New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  100656.000000      1.006560e+05  100656.000000      100656.000000
mean     1161.132093      1.442425e+05      25.804532        3704.222451
std      7846.043401      9.683028e+05     150.742909       20314.287859
min    -32952.000000      0.000000e+00    -514.000000           0.000000
25%         0.000000      1.200000e+01       0.000000           0.000000
50%         4.000000      1.218000e+03       0.000000          22.000000
75%       201.000000      2.337150e+04       3.000000         408.000000
max    473093.000000      2.870097e+07    8193.000000      521625.000000